/* Ocultar al principio para evitar animación al cargar */
.animate__fadeIn,
.animate__fadeInLeft,
.animate__fadeInRight {
  opacity: 0;
  animation-fill-mode: both; /* para mantener el estado final */
}

/* Animaciones solo al añadir .animate__animated */
.animate__animated.animate__fadeIn {
  opacity: 1;
  animation-name: bounce;
  animation-duration: 2s;
  animation-delay: 3s;
}

.animate__animated.animate__fadeInLeft {
  opacity: 1;
  animation-name: fadeInLeft;
  animation-duration: 3s;
}

.animate__animated.animate__fadeInRight {
  opacity: 1;
  animation-name: fadeInRight;
  animation-duration: 3s;
}

.gradient-1 {
  background: #2A7B9B;
  background: linear-gradient(153deg, rgba(42, 123, 155, 1) 0%, rgba(237, 83, 232, 1) 100%);
}